@media screen and (max-width:360px) and (orientation: portrait) {
    header {
        left: -5%;

    }

    nav ul {
        left: 21%;
        /* top: -18%; */
        top: -9%;
        /* top: -8px; */
    }


    /* experiment.card-item {
        width: 23vw;
        left: 60px;
    } */

    #search-item {
        left: 21%;
        /* top: 9%; */
        top: 11%;
        /* top: 68px; */
    }
    .card-item:hover {
        /* box-shadow: 1px 1px 20px rgb(234, 202, 20),
            1px 1px 40px rgb(234, 116, 20); */
            background: #ff004f;
            transform: translateY(-10px);
            transform: scale(1.2);
            border: 2px solid #ff004f;
    }

}

@media screen and (max-width:390px) {
    header {
        left: -5%;
    }

    #hambburger {
        bottom: 70%;
        left: 105%;
    }

    /* .all-card-items {
        left: -74px; */
    /* width: 18vw;
    } */


    nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 22%;
        top: -20%;
    }

    /* #v-clas {
        margin-top: 8px;
        left: 156px;
    } */

    #abt {
        right: 3px;
    }

    #search-item {
        left: 21%;
        top: 9%;
    }


    /* experiment.card-item {
        width: 23vw;
        left: 60px;
    } */
    .card-item:hover {
        /* box-shadow: 1px 1px 20px rgb(234, 202, 20),
            1px 1px 40px rgb(234, 116, 20); */
            background: #ff004f;
            transform: translateY(-10px);
            transform: scale(1.2);
            border: 2px solid #ff004f;
    }

}

@media screen and (max-width:415px) {
    .all-card-items {
        left: 0px;
    }

    /*experiment .card-item {
        width: 23vw;
        left: 20%;
    }*/
    .card-item:hover {
        /* box-shadow: 1px 1px 20px rgb(234, 202, 20),
            1px 1px 40px rgb(234, 116, 20); */
            background: #ff004f;
            transform: translateY(-10px);
            transform: scale(1.2);
            border: 2px solid #ff004f;
    }
}

@media screen and (max-width:489px) {

    /* .all-card-items {
        display: grid;
        grid-template-columns: auto auto;
    } */
    .all-card-items {
        left: 0px;
    }

    .search {
        right: 107px;
    }

    /* #abt {
        right: 33px;
        position: relative;
    } */

    .subject {
        font-size: 0.5em;
    }

    .card-item {
        /* height: 5vh; */
        /*experiment  width: 18vw;
        left: 89px; experiment*/
    }

    .card-item:hover {
        /* box-shadow: 1px 1px 20px rgb(234, 202, 20),
            1px 1px 40px rgb(234, 116, 20); */
            background: #ff004f;
            transform: translateY(-10px);
            transform: scale(1.2);
            border: 2px solid #ff004f;
    }

    #disc {
        font-size: 11px;
        position: relative;
        left: 22px
    }

    #math {
        font-size: 12px;
        position: relative;
        right: 25px;
    }

    #pc {
        font-size: 13px;
        left: 27px
    }

    #sf {
        font-size: 10px;
    }

    #hambburger {
        left: 86%;
        top: 12%;
    }

    nav ul {
        left: 40%;
    }

}

@media screen and (max-width:590px) {
    nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 27%;
        top: -20px;
    }

    #hambburger {
        display: block;
    }

    #v-clas {
        opacity: 0;
    }

    header {
        /* height: 2vh; */
        height: 30px;
    }

    .all-card-items {
        left: 0px;
    }

    /* .card-item {
        position: relative;
        left: 145px;
        width: 18vw;
    } */

    #search-item {
        top: 8%;
        right: 33%;
        width: 32vw;
    }
}

@media screen and (max-width: 610px) {
    /* .all-card-items {
        display: grid;
        grid-template-columns: auto auto auto;
    } */

    .card-item {
        /* height: 10vh; */
        /* width: 18vw; experiment */
    }

    .card-item:hover {
        /* box-shadow: 1px 1px 20px rgb(234, 202, 20),
            1px 1px 40px rgb(234, 116, 20); */
        background: #ff004f;
        transform: translateY(-10px);
        transform: scale(1.2);
        border: 2px solid #ff004f;
    }

    #stat {
        font-size: 11px;
        right: 36px;
        top: 18px;
    }

    #prob {
        font-size: 10px;
        left: 37px;
    }

    #and {
        top: 0px;
        right: 3px;
    }

    .subject {
        font-size: 0.7em;
    }

    #sf {
        font-size: 11px;
        right: 8px;
    }

    #pc {
        left: 30px;
    }
}

@media screen and (max-width:680px) {
    /* .all-card-items {
        display: grid;
        grid-template-columns: auto auto auto;
    } */

    /* nav {
        position: relative;
        right: 74px
    } */
    nav ul {
        position: relative;
        right: 11%;
    }

    .subject {
        font-size: 0.7em;
    }

    .card-item {
        /* height: 10vh; */
        /* width: 13vw; */
    }

    .card-item:hover {
        /* box-shadow: 1px 1px 20px rgb(234, 202, 20),
            1px 1px 40px rgb(234, 116, 20); */
            background: #ff004f;
            transform: translateY(-10px); 
        transform: scale(1.2);
        border: 2px solid #ff004f;
    }

    #stat {
        font-size: 11px;
        right: 40px;
    }

    #prob {
        font-size: 9px;
        right: 37px;
    }

    #and {
        top: 5px;
    }

    .subject {
        font-size: 0.7em;
    }

    #sf {
        font-size: 11px;
        right: 8px;
    }

    #pc {
        left: 30px;
    }
}



@media screen and (max-width: 800px) {
    /* .all-card-items {
        display: grid;
        grid-template-columns: auto auto auto;
    } */

    .card-item {
        /* height: 10vh; */
        /* width: 13vw; */
    }

    .card-item:hover {
        /* box-shadow: 1px 1px 20px rgb(234, 202, 20),
            1px 1px 40px rgb(234, 116, 20); */
            background: #ff004f;
            transform: translateY(-10px); 
        transform: scale(1.2);
        border: 2px solid #ff004f;
    }

    #stat {
        font-size: 11px;
        right: 40px;
    }

    #prob {
        font-size: 11px;
        right: 37px;
    }

    #and {
        top: 5px;
    }

    .subject {
        font-size: 0.8em;
    }

    #sf {
        font-size: 12px;
        right: 8px;
    }

    #pc {
        left: 30px;
    }
}

@media screen and (max-width: 1000px) {
    /* .all-card-items {
        display: grid;
        grid-template-columns: auto auto auto;
    } */

    /* .card-item {
        height: 10vh;
        width: 13vw;
    } */

    .card-item:hover {
        /* box-shadow: 1px 1px 20px rgb(234, 202, 20),
            1px 1px 40px rgb(234, 116, 20); */
            background: #ff004f;
            transform: translateY(-10px); 
        transform: scale(1.2);
        border: 2px solid #ff004f;
    }

    #stat {
        font-size: 13px;
        right: 48px;
    }

    #prob {
        font-size: 13px;
        left: 42px;
    }

    #and {
        top: 5px;
    }

    .subject {
        font-size: 0.9em;
    }

    #sf {
        font-size: 12px;
        right: 8px;
    }

    #pc {
        left: 30px;
    }
}

@media screen and (max-width: 1150px) {
    /* .all-card-items {
        display: grid;
        grid-template-columns: auto auto auto;
    } */

    /* .card-item {
        height: 10vh;
        width: 13vw;
    } */

    .card-item:hover {
        /* box-shadow: 1px 1px 20px rgb(234, 202, 20),
            1px 1px 40px rgb(234, 116, 20); */
            background: #ff004f;
            transform: translateY(-10px); 
        transform: scale(1.2);
        border: 2px solid #ff004f;
    }

    #stat {
        font-size: 15px;
        right: 53px;
    }

    #prob {
        font-size: 15px;
        left: 50px;
    }

    #and {
        top: 5px;
    }

    .subject {
        font-size: 1em;
    }

    #sf {
        font-size: 12px;
        right: 8px;
    }

    #pc {
        left: 30px;
    }
}


@media screen and (max-width: 1200px) {

    /* .card-item {
        width: 13vw;
    } */

    .card-item:hover {
        /* box-shadow: 1px 1px 20px rgb(234, 202, 20),
            1px 1px 40px rgb(234, 116, 20); */
            background: #ff004f;
            transform: translateY(-10px); 
        transform: scale(1.2);
        border: 2px solid #ff004f;
    }

    #stat {
        font-size: 13px;
        right: 45px;
    }

    #prob {
        font-size: 12px;
        left: 41px;
    }

    #and {
        top: 4px;
        right: 3px;
    }

    .subject {
        font-size: 0.92em;
    }

}
