* {
    margin: 0;
    padding: 0;
}

:root {
    /* --main-bg-color: rgb(43, 117, 255); */
    --main-bg-color: #181d25;
}
/* --------------header-section---------------------- */
header {
    background-color: var(--main-bg-color);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: transform 1s;
    background: transparent;
}
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;
}
nav ul li a:hover {
	color: #fff;
	border-radius: 5px;
	background: #DF2771;
}
.active {
	color: #fff;
	border-radius: 5px;
	background: #DF2771;
}
.srch {
    display: flex;
    align-items: center;
  }
  
  .search {
    flex: 1;
    padding: 8px; 
  }
  
  .search-img {
    cursor: pointer;
    margin-left: 8px; 
    width: 30px;
    height: 30px;
  }
  
  .get-started {
	margin-left: 50px;
	padding: 5px 20px;
	border: 2px solid #DF2771;
	border-radius: 20px;
	text-decoration: none;
	
	transition: .5s;
	background-color: #DF2771;
	color: #fff;
}
.get-started:hover {
	color: #2e2e2e;
	background: #fff;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}
.menu {
    width: 30px; 
    height: 30px; 
    cursor: pointer;
  }
  
   .menu:hover {
    opacity: 0.8; 
  }
  
.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
  }

/* Main content styles */
body {
    background-color: #0e141e;
}

.container {
    min-height: calc(100vh - 80px);
    padding-top: 80px;
}
.container::-webkit-scrollbar {
    display: none;
}
marquee a{
    text-decoration: none;
    cursor: pointer;
    color: #14EACFFF;
}
.card {
    max-width: 95vw;
    /*90vw*/
    margin: 80px auto;
    border: 2px solid transparent;
    border-radius: 5px;
    position: relative;
    top: 85px;
    /* overflow-x: scroll; */
    box-shadow: 1px 1px 20px #14EACFFF,
    1px 1px 40px #14EACFFF;
    animation: anime 1s linear infinite;
    backdrop-filter: blur(10px);

}
.all-card-items {
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin: 30px;
    position: relative;
    left: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));

}

/* .all-card-items::-webkit-scrollbar {
    display: none;
} */

.card-item {
    /* width: 10vw; experiment */
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 60px;
    border: 2px solid grey;
    border-radius: 5px;
    overflow: hidden;
    height: 122px;
    transition: 0.5s box-shadow;
    cursor: pointer;
    /* position: relative;
    top: 80px; */
    /* height: 20vh; */
    /* box-shadow: 1px 1px 20px rgb(2, 230, 154),
                1px 1px 40px rgb(2, 230, 154); */
                transition: background 0.5s, transform 0.5s;
    
}
.card-item:hover {
    /* box-shadow: 1px 1px 20px rgb(234, 202, 20),
        1px 1px 40px rgb(234, 116, 20); */
        background: #ff004f;
        transform: translateY(-10px); 
    transform: scale(1.2);
    border: 2px solid #ff004f;

}


/* .card:nth-child(1){
    animation-delay: 0.2s;
}
.card:nth-child(2){
    animation-delay: 0.4s;
} */
/* @keyframes anime {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }

} */

/* -----------------------Second-Semester---------------------- */

#second {
    box-shadow: 1px 1px 20px rgb(245, 77, 77),
        1px 1px 40px rgb(235, 57, 44);
}

/* -----------------------Third-Semester---------------------- */

#third {
    box-shadow: 1px 1px 20px rgb(41, 233, 98),
        1px 1px 40px rgb(20, 234, 48);
}

/* -----------------------Fourth-Semester---------------------- */

#fourth{
    box-shadow: 1px 1px 20px rgb(233, 41, 118),
        1px 1px 40px rgb(234, 20, 106);
}

/* .outer{
    margin: 0px 50px;
    background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
} */


.slider {
    /* border: 2px solid grey;
    border-radius: 15px ; */
    position: relative;
    top: 70px;
    color: red;
}

h2 {
    /* background-color: rgb(235, 245, 92); */
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
    color: aliceblue;
    /* background: -webkit-linear-gradient(90deg, red, black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
}
h2:hover{
    color: #ff004f;
}

/* -------------fifth-------------------- */
#fifth{
    box-shadow: 1px 1px 20px #5e2591,
    1px 1px 40px #5e2591;
}
/* -------------------------footer--------------------------- */

footer {
    height: 5vh;
    /*10vh*/
    background-color: var(--main-bg-color);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: cursive; */
    position: relative;
    bottom: -80px;
}

/* ---------------------About--------------------- */
.about-container{
    /* min-height: calc(100vh - 3vh - 10vh);
     */
     min-height: 100vh;
}
.abt-footer{
    position: relative;
    top: 0%;
}

#About{
    /* color: white;
    position: relative;
    top: 250px; */
    /* font-size: 35px; */

    /*Experimentalk design*/
    color: white;
    position: relative;
    top: 186px;
    font-size: 20px;
    word-spacing: 8px;
    margin-top: 21px;
    margin-left: 33px;

}

#website{
position: relative;
top: 164px;
color: white;
margin-left: 30px;
font-size: 44px;
}
#author{
    position: relative;
top: 264px;
color: white;
margin-left: 30px;
font-size: 44px;
}
#auth{
    color: white;
    position: relative;
    top: 276px;
    font-size: 20px;
    word-spacing: 8px;
    margin-top: 21px;
    margin-left: 33px;
}
#auth a{
    text-decoration: none;
    color: white;
}

/* ----------------------some-tags-and-ids-------------------- */

p {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    text-decoration: none;
}

#pc {
    position: relative;
    left: 40px;
    bottom: 5px;
    text-decoration: none;
}

#sf {
    position: relative;
    right: 10px;
    top: 14px;
    text-decoration: none;
}

#II {
    position: relative;
    right: 28px;
    top: 20px;
    text-decoration: none;
}

#prob {
    position: relative;
    bottom: 17px;
    left: 48px;
    text-decoration: none;
    font-size: 14px;
}

#and {
    position: relative;
    top: 3px;
    right: 8px;
    text-decoration: none;
    font-size: 15px;
}

#stat {
    position: relative;
    top: 28px;
    right: 49px;
    font-size: 15px;
    text-decoration: none;
}
#disc{
    position: relative;
    bottom: 10px;
    left: 25px;
    text-decoration: none;
    font-size: 15px;
}
#math{
    position: relative;
    top: 10px;
    right: 37px;
    font-size: 15px;
    text-decoration: none;
}



.subject {
    font-size: 1em;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    /* height: 95px;
    width: 95px; */
    padding: 20px;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

.flex-all-center {
    text-align: center;
}

.btn {
    padding: 2px 7px;
    color: whitesmoke;
    background: var(--main-bg-color);
    border-radius: 5px;
    cursor: pointer;
}

.m-1 {
    margin: 10px 0px;
}

.text-center {
    text-align: center;
}
a{
    text-decoration: none;
}
 